extends ../layouts/layout

block title
  title admin

block content
  div(class="poll-admin-id hidden")= poll.adminToken
  div(class="row")
    div(class="card-panel teal lighten-3 col m8 offset-m2", id="admin-panel")
      h5 User Link:
      a(href= userUrl)= userUrl
      h5 Question
      div= poll.poll.question
      ul
      - for (var i = 0; i < Object.keys(poll.choices).length ; ++i) {
        div(class="row")
          li(data-choice=Object.keys(poll.choices)[i], class="choice-id-" + Object.keys(poll.choices)[i] + " ")= Object.keys(poll.choices)[i] + ": "
      - }    
      div(class="row")
        div(class="col m10 btn offset-m1 close-poll") Close Poll
      a(href='/') New Poll
      
