extends ../layouts/layout

block title
  title New Poll

block content
  div(class="row")
    form(class="new-poll-form card-panel teal lighten-3 col m8 offset-m2", id="new-poll-form")
      h3 Question 
      input(type="text", name="poll-question", class="poll-question")
      h5 
        | choice:
      input(type="text", name="poll-choice", class="poll-choice")
      div(class="row")
        button(class="col m10 btn offset-m1") Add Another Choice
      div(class="row")
        div(class="input-field col m10 offset-m1 center")
          input(type="checkbox", name="public-results", class="public-results", id="public-results")
          label(for="public-results", class="poll-label") Public Results
      div(class="row")
        div(class="input-field col m10 offset-m1")
          input(type="time", class="timepicker", name="end-time")
          label(for="end-time", class="poll-label")
      div(class="row")
        div(class="input-field col m10 offset-m1")
          input(type="date", class="datepicker", name="end-date")
          label(for="end-date", class="poll-label")
      div(class="row")
        input(type="submit", class="col m10 btn offset-m1") Start Poll
