form.new-poll-form {
  color: white;
  h3 {
    color: white;
  }
}

.site-title {
  color: #80CBC4;
}

label {
  color: white;
}
.input-field label {
  color: white;
}

.hidden {
  display: none;
}

form input.poll-question {
  font-size: 40px;
}
